<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <style>
        body
        {
            background-color: lightcyan;
        }
        h1
        {
            color: blue;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            border-style: solid;
        }
    </style>
</head>
<body>
    <h1>Welcome to Contact Page</h1>
    <a href="/index">Home</a>
    <a href="/about">About</a>
</body>
</html>